body {
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: lightgray;
    box-sizing: border-box;
  }
  
  h1 {
    font-family: sans-serif;
    color: black;
  }
